//- template
extends ../templates/internal

block styles
	link(rel="stylesheet", href="./css/internals.css")
	link(rel="stylesheet", href="./css/blocks/mensagens.css")

block scripts
	script(type="text/javascript", src="./js/editar-perfil.js")

//- content
block content

	.page-content.mensagens-content
		.wrapper
			h2.page-title Mensagens

			a.btn-nova-mensagem(href="#", title="Nova Mensagem") Nova mensagem

			.container-mensagens
				ul.scrollpaneBigBlack
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h3.msg-user-name Nome Usuário
						p.msg-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi consequat, adipiscing ante a, ullamcorper mi. Fusce venenatis nunc ornare, tristique massa eget, gravida turpis. Sed quis commodo ipsum. Suspendisse scelerisque dolor nisl, non consequat lorem volutpat euismod. Ut vitae hendrerit dolor. Quisque id sem magna. Pellentesque eget vehicula felis, eget elementum massa. Pellentesque magna mauris, aliquet a ornare sit amet, tincidunt vitae nulla.
						span.msg-time 10/10/10 - 22:22