//- template
extends ../templates/main

block styles

block scripts
    script(type="text/javascript", src="../js/ext-global.js")

block template

    .external-wrapper
        .top-container
            h1
                a.logo(href="/")
                    img(src="./img/external-logo.png", alt="JigTrip", width="200", height="200")

            a.btn.login(href="/login") Login

        block content