footer.main-footer
	.wrapper
		a.btn-footer.btn-offer(href="/oferecer-carona", title="Oferecer carona") Oferecer carona
		a.btn-footer.btn-ask(href="/solicitar-carona", title="Solicitar carona") Solicitar carona