//- side
block side

	.side-container
		.side-box.logo-container.dark-border
			h1
				a(href="/home", title="Página Inicial")
					img(src="img/logo-jigtrip-side.png")
		.side-box.notifications-container.light-border
			a.msg-icon(href="/mensagens", title="10 novas mensagens")
				.notif-icon
					img(src="./img/icon-messages.png")
				= "Mensagens"
				span.msg-qty 10
			a.alert-icon(href="/alertas", title="10 novos alertas")
				.notif-icon
					img(src="./img/icon-alerts.png")
				= "Alertas"
				span.alert-qty 10
		.side-box.profile-container
			.profile-img
				a(href="/perfil", title="Usuário")
					img(src="./img/default-user-img.png")
			.profile-name
				h2
					a(href="/perfil") André Lopes
			a.profile-edit(href="/editar-perfil") Edite seu perfil
		h3.adicionarConexao.side-box.connection-title.dark-border!='<a href="#">Minhas conexões (<span>100</span>)</a>'

		.side-box.connection-list.light-border.dark-border
			ul.scrollpaneSmallBlack
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário
				li
					a(href="/perfil")
						img(src="./img/default-user-img.png")
						span.connection-name Nome usuário

		.side-box.offer-container
			h4.side-rides-title.light-border.dark-border
				a(href="/perfil") Caronas oferecidas
		.side-box.ask-container
			h4.side-rides-title.light-border.dark-border
				a(href="/perfil") Caronas solicitadas
		.side-box.ranking-container
			h4.side-rides-title.light-border.dark-border
				a(href="/perfil") Avaliações

	.light-box-dados

	.box-pop
		.fechar-pop
		.box-interna-pop
			img(src="./img/img-adicionar-conexao.png")
		.box-internal-pop-cont
			input.pesquisar(placeholder="Pesquisar")
			a.btn-buscar(href="#") Buscar

			.wrapper-ul-lista-conexoes
				ul.scrollpaneMediumBlack
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")
					li
						img.msg-user-img(src="./img/default-user-img3.png", width="40", height="40")
						h4.msg-user-name Nome Usuário
						addrees Londrina-PR
						a.conectar-ico(href="#")

	.box-pop2
		.fechar-pop2
		.box-interna-pop2
			img(src="./img/img-nova-mensagem.png")
		.box-internal-pop-cont2
			textarea(placeholder="Mensagem")
			a.btn-evniar(href="#") Enviar

	.box-pop3
		.fechar-pop3
		.box-interna-pop3
			img(src="./img/img-cadastro-veiculo.png")
		.box-internal-pop-cont3
			.bloco-a
				input.tam1
				input.tam2
				input.tam2
				input.tam1
			.bloco-b
				input.tam1
				input.tam1
				input.tam1
		a.btn-cadastrar-veiculo Cadastrar