//- template
extends ../templates/external

block styles
    link(rel="stylesheet", href="./css/externals.css")
    link(rel="stylesheet", href="./css/blocks/index.css")

//- content
block content

    h2.top-subtitle Pegar uma carona nunca foi tão fácil
    p.top-desc Conheça pessoas, compartilhe caronas com seus amigos, de qualquer lugar, a qualquer hora