block browseralert
//- ALERTA NAVEGADOR
.fundo-atualize-navegador

.box-atalize
	a.fecha-atualiza(href="#")

	ul
		li
			a(href="http://support.apple.com/kb/dl1531", target="_blank")
				img(src="img/browseralert/01.jpg", alt="Safari", title="Safari")

		li
			a(href="http://www.google.com/intl/pt-BR/chrome/browser/", target="_blank")
				img(src="img/browseralert/02.jpg", alt="Google Chrome", title="Google Chrome")

		li
			a(href="https://www.mozilla.org/pt-BR/firefox/new/", target="_blank")
				img(src="img/browseralert/03.jpg", alt="Mozilla Firefox", title="Mozilla Firefox")

		li
			a(href="http://windows.microsoft.com/pt-br/internet-explorer/download-ie", target="_blank")
				img(src="img/browseralert/04.jpg", alt="Internet Explorer", title="Internet Explorer")

		li
			a(href="http://www.opera.com/pt/computer/windows", target="_blank")
				img(src="img/browseralert/05.jpg", alt="Opera", title="Opera")
