block styles
	link(rel="stylesheet", href="./css/blocks/rides-list.css")

block rideslist
	.rides-container
		ul.rides-list.scrollpaneBigBlack
			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-offer(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-ask(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-ask(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-offer(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-ask(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-ask(href="#")
					span.dots
			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-offer(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-ask(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-ask(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-offer(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-ask(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-ask(href="#")
					span.dots
			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-offer(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-ask(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-ask(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-offer(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-ask(href="#")
					span.dots

			li.ride-item
				.img-container
					img(src="./img/default-user-img.png", alt="Nome de usuário")
				.user-info
					h2.user-name Felipe Alvares
					.reviews - 10 avaliações
					.general-info
						span.user-connections 200 conexões
						span.user-location Londrina - PR
					a.user-info-button.btn-message(href="#", title="Enviar mensagem") Enviar mensagem
					a.user-info-button.btn-share(href="#", title="Compartilhar no Facebook") facebook
				.ride-info
					.route-container
						.city-container.from
							span.location Londrina
							span.location-icon
						.city-container.to
							span.location Curitiba
							span.location-icon
					.price-container
						span.value R$ 50,00
						span.value-label Valor por passageiro
				a.btn-visualize.ride-ask(href="#")
					span.dots