.search-params {
	float: left;
	width: 100%;
	margin-bottom: 50px;
}

.search-params label {
	float: left;
	font-size: 18px;
	color: #939393;
	margin-right: 5px;
}

.search-params span.value {
	float: left;
	font-size: 18px;
	margin-right: 10px;
}