.container-oferecer-carona {
	float: left;
	width: 490px;
}

.btn-tipo-carona {
	float: left;
	width: 238px;
	height: 38px;
	border-radius: 5px;
	font-family: "SourceSansBold";
	line-height: 40px;
	color: #32aa6f;
	background: #FFF;
	border: 1px solid #32aa6f;
	text-align: center;
	text-transform: uppercase;
	margin: 20px 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.btn-tipo-carona.btn-ida {
	margin-right: 10px;
}

.btn-tipo-carona.ativo,
.btn-tipo-carona:hover {
	color: #FFF;
	background: #32aa6f;
}

.btn-submit {
	width: 100%;
	margin-left: 0;
}

.fields-container, .container-volta {
	display: none;
}

textarea.medium-field {
	height: 95px;
}