.container-perfil {
	float: left;
	width: 490px;
	position: relative;
	margin-top: 50px;
}

.perfil-content .user-img {
 	float: left;
 	width: 130px;
 	height: 130px;
 	margin-right: 20px;
 }

 .perfil-content .user-name {
 	float: left;
 	clear: right;
 	font-family: "SourceSansBold";
 	font-size: 24px;
 	color: #32aa6f;
}

.img-container {
	float: left;
	width: 130px;
	margin-right: 20px;
}

.img-container img {
	max-width: 130px;
	width: auto;
	height: 130px;
	max-height: 130px;
	display: block;
}

.user-info .reviews {
	float: left;
	clear: right;
	color: #d1d1d1;
	font-size: 12px;
	width: 230px;
	line-height: 15px;
}

.user-info .general-info {
	float: left;
	width: 230px;
	font-size: 14px;
	color: #32aa6f;
	line-height: 15px;
	margin-top: 5px;
}

.user-info .general-info span {
	float: left;
	position: relative;
	margin-left: 15px;
}

.user-info .general-info span.user-connections:before {
	position: absolute;
	content: " ";
	left: -15px;
	top: 2px;
	width: 10px;
	height: 10px;
	background: url(../../img/icon-connection-green.png) no-repeat center center;
}

.user-info .user-info-button {
	float: left;
	margin-top: 7px;
	height: 20px;
	padding: 0 8px;
	line-height: 20px;
	color: #FFF;
	font-size: 12px;
	position: relative;
	text-align: center;
}

.user-info .user-info-button.btn-message {
	background: #32aa6f;
	padding-left: 35px;
	margin-right: 10px;
}

.user-info .user-info-button.btn-message:before {
	position: absolute;
	content: " ";
	left: 9px;
	top: 5px;
	width: 16px;
	height: 10px;
	background: url(../../img/icon-messages.png) no-repeat center center;
	background-size: cover;
}

.user-info .user-info-button.btn-share {
	background: #2556a1;
	font-family: "SourceSansBold";
}

.btn-conectar {
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	background: url(../../img/btn-conectar.png) no-repeat center center;
}

.prefer-title {
	float: left;
	width: 100%;
	height: 38px;
	border: 1px solid #cecece;
	background: #FFF;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	font-family: "SourceSansBold";
	text-transform: uppercase;
	color: #a5a5a5;
	font-size: 20px;
	margin-top: 50px;
}

.half-prefer {
	float: left;
	width: 225px;
	margin-top: 25px;
}

.boxes-prefer-container {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.boxes-prefer-container a {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	width: 38px;
	height: 38px;
	border: 1px solid #a5a5a5;
}

.boxes-prefer-container a:first-child {
	margin-left: 15px;
}

.boxes-prefer-container a.active {
	border: 1px solid #31aa6f;
}

h4.prefer-subtitle {
	float: left;
	clear: both;
	text-align: left;
	padding-left: 15px;
	font-family: "SourceSansBold";
	color: #a5a5a5;
	text-transform: uppercase;
}